.btn {
    width: 100px;
    height: 45px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #18aafd;
    border-radius: 10px;
    background-color: #e2f3fd;
    padding: 7px;
    margin-right: 10px;
    margin-bottom: 7px;
    cursor: pointer;
}
.btn:hover {
    border: 0;
    background-color: #18a9fc;
    color: white;
}

.btnProf {
    margin-top: 10px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    width: 186px;
    height: 40px;
}

.btnProf:hover {
    border: 1px solid #18aafd;
    color: #18aafd;
}