.btn {
    width: 100px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    background-color: #deb48c;
    padding: 7px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.btnProf {
    margin-top: 10px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    width: 186px;
    height: 40px;
}

.btnProf:hover {
    border: 1px solid #18aafd;
    color: #18aafd;
}