.messages {
    position: relative;
    height: 800px;
    padding-top: 10px;
    padding-left: 30px;
    background: linear-gradient(180deg, #e0f1fc, #18aafd);
}
.messagesBody {
    overflow-x: hidden;
    overflow-y: auto;
    height: 700px;
}
.messagesBody::-webkit-scrollbar {
    width: 10px;
}

.messagesBody::-webkit-scrollbar-thumb {
    background-color: white;
}

.message {
    display: flex;
    padding-bottom: 10px;
}

.message div {
    border: 1px solid #18aafd;
    margin-left: 5px;
    border-radius: 10px;
    background-color: white;
}

.message text {
    padding-left: 10px;
    padding-right: 10px;
}

.message img {
    width: 40px;
    height: 40px;
    border-radius: 20%;
}

.sendMess {
    width: 98%;
    position: absolute;
    bottom: 20px;
    display: flex;
    padding-top: 5px;
    padding-right: 30px;
}

.sendMess img {
    height: 35px;
}

.sendMess textarea {
    padding: 5px;
    background-color: white;
    height: 60px;
    width: 100%;
    resize: vertical;
    border-radius: 10px;
    outline: none;
    border: 1px solid #18aafd;
    font-size: 20px;
}

.sendMess button {
    margin-left: 5px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #e0f1fc;
}

.sendMess button:hover {
    background-color: #18aafd;
}