.users {
    margin-top: 20px;
    height: min-content;
    border: 1px solid #18aafd;
    border-radius: 20px;
}
.friends {
    height: 825px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #e2f3fd;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*Scroll*/
.friends::-webkit-scrollbar {
    width: 10px;
}

.friends::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #e0f1fc, #18a9fc);
    border-radius: 10px;
}

.label {
    margin-left: 15px;
    font-size: 40px;
    padding: 5px;
    color: #18a9fc;
}

.flex {
    display: flex;
}
.flexAll {
    display: flex;
    justify-content: space-evenly;
}

.user {
    width: 375px;
    height: min-content;
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid #18aafd;
    border-radius: 10px;
    background-color: #ffffff;
}
.user img {
    width: 90px;
    height: 90px;
    border-radius: 10%;
}

.userTextDescription {
    width: 100%;
    margin-left: 10px;
}

.userFullName {
    font-size: 25px;
    color: #18a9fc;
}

.userStatus {
    margin-top: 5px;
    font-style: italic;
    font-size: 20px;
    color: #596166;
}

.button {
    width: 100px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #18aafd;
    border-radius: 10px;
    background-color: #e2f3fd;
    padding: 7px;
}
.button:hover {
    border: 0;
    background-color: #18a9fc;
    color: white;
}
/*<PageSlider />*/
.slider {
    margin-left: 10px;
}
.pageButton {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 35px;
    height: 25px;
    border: 0;
    border-radius: 8px;
    background-color: #18aafd;
    color: white;
    cursor: pointer;
}
.pageButton:hover {
    border: 1px solid #18aafd;
    background-color: #e2f3fd;
    color: black;
}
.selected {
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    height: 25px;
    border: 1px solid #18aafd;
    border-radius: 8px;
    background-color: #e2f3fd;
    color: black;
}


