.myPosts {
    grid-area: myPosts;

    padding: 10px;
}

.addPost {
    padding-bottom: 10px;
    display: flex;
}
.addPost textarea {
    background-color: #f6f1e2;
    height: 40px;
    width: 500px;
    resize: none;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
}
.addPost button {
    margin-left: 5px;
    height: 45px;
    width: 45px;
    border: none;
    background-color: #deb48c;
    border-radius: 50%;
    font-size: 30px;
    font-family: Serif;
}