.header {
    grid-area: h;
    background-color: #e4f5fe;
    display: flex;
}
.header img {
    height: 60px;
}

.authBlock {
    font-size: 30px;
    margin-left: auto;
}

.inputAPI {
    margin-left: 20px;
    margin-top: 6px;
}

.logoutBlock {
    display: flex;
    height: 60px;
}
.logoutB {
    margin-left: 20px;
}
.logoutText {
    padding-top: 5px;
}