.flex {
    display: flex;
}

/*<ProfileInfo />*/
.profileInfo {
    height: min-content;
}

/*<Status />*/
.status {
    height: min-content;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #deb48c;
}

.active {
    height: min-content;
    width: 90%;
    padding: 20px;
    font-family: Calibri;
    font-size: 18px;
}

.notActive {
    height: min-content;
    padding: 5px 5px 5px 20px;
    border-radius: 6px;
    background-color: antiquewhite;
    font-family: Calibri;
    font-style: italic;
    font-size: 18px;
}

/*<Buttons />*/
.buttons {
    display: flex;
    padding: 10px;
}

.button {
    width: 75px;
    height: 49px;
    margin-right: 15px;
    border: 0px;
    border-radius: 10px;
    background-color: #deb48c;
    font-family: Arial;
}

.pbutton {
    width: 75px;
    height: 49px;
    border: 0px;
    border-radius: 10px;
    background-color: #deb48c;
    font-family: Arial;
}

/*<LinksArea />*/
.links {
    height: min-content;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #18aafd;
    background-color: #ffffff;
}

.linksArea {
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: #deeffb;
}

/*<UserPart />*/
.userPart {
    height: min-content;
    margin: 10px;
    border-radius: 20px;
    background-color: #e0f1fc;
}

.imageBody {
    display: flex;
}
.imageButtons {
    margin: 10px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 8%;
}
.inputFileBody {
    margin-top: 10px;
    margin-bottom: 10px;
}
.inputFile {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.inputFileSpan {
    border: 1px solid #d9d9d9;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
}
.inputFileSpan:hover {
    border: 1px solid #18aafd;
    color: #18aafd;
}

.descriptionArea {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #18aafd;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 18px;
}

.text {
    font-style: italic;
    font-size: 15px;
    color: #18aafd;
}