.app-wrapper {
    display: grid;

    grid-template-areas: "h h"
                         "n c";

    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;
}

.content-wrapper {
    grid-area: c;
    height: 100vh;
    overflow: auto;
}